#welcomeText {display: block;}
#decision {display: none;}

/*  . = Klassenselektor
    # = id-Selektor
*/

.welcome {
    background-color: rgb(72, 121, 255);
}

#stroke {
    background-color: green;
}

